<h1>People#show</h1>

<h2><%= @person.name %></h2>
<ul>
  <li>Email:    <%= @person.email %></li>
  <li>Address:  <%= @person.address %></li>
  <li>Phone:    <%= @person.phone %></li>
  <li>Twitter:  <%= @person.twitter %></li>
  <li>Linkedin: <%= @person.linkedin %></li>
</ul>
